# python
/*.egg-info/
/dist/
/build/

# testing
/.pytest_cache
/tmp
# While running, lock file and .prom metric files may be created.
.blackvuesync.lock
*.prom
# coverage
.coverage
.coverage.*
coverage.xml
coverage_report/

# ide
/.idea
__pycache__
/venv

# mac
.DS_Store
